<div class="container">
  <div class="row my-4">
    <div class="col-12 colmd-6 col-lg-7">
      <%= image_tag 'thanks.jpg', class:"img-fluid" %>
    </div>

    <div class="col-12 col-md-6 col-lg-5 d-flex align-items-center">
      <h4>
        ご注文ありがとうございます。<br><br>
        ご注文内容はマイページより<br>
        ご覧いただけます。<br><br>
        お問い合わせは上部のリンク<br>
        または下記の番号にお願いします。<br>
        TEL <a href="tel:070-9505-1373">070-9505-1373</a>
      </h4>
    </div>
  </div>
</div>