<div class="container">
  <div class="my-4">
    <h5>送信完了です</h5>
  </div>
  <div class="row my-5">
    <p>
      お問い合わせは送信されました。<br><br>
      できる限り早くお店より返信いたします。<br><br>
      よろしくお願いします。
    </p>
  </div>
</div>