<div class="container">
  
  <div class="my-4">
    <h2>店舗情報</h2>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="card">
        <%= image_tag 'staff.jpg' %>
      </div>
    </div>

    <div class="col-7 col-lg-5 mt-4 mt-lg-0">
      <table class="table">
          <tr>
            <td>名称</td>
            <td>Hareruya</td>
          </tr>
          <tr>
            <td>住所</td>
            <td>
              333-9999<br>
              東京都足立区
            </td>
          </tr>
          <tr>
            <td>TEL</td>
            <td>555-222-9999</td>
          </tr>
          <tr>
            <td>営業時間</td>
            <td>
              【火〜木】18:00~23:00<br>
              【金・土】18:00~24:00<br>
              【日・祝】18:00~22:00
            </td>
          </tr>
          <tr>
            <td>ラストオーダー</td>
            <td>閉店時間の1時間前</td>
          </tr>
          <tr>
            <td>定休日</td>
            <td>毎週月曜日</td>
          </tr>
      </table>
    </div>
  </div>
</div>
