<div class="col-3 col-lg-2">
  <div class="genre">
    <br><br><strong class="font-italic side">ジャンル検索</strong>
    <ul class="list-group">
      <% genres.each do |genre| %>
      <li class="item"><%= link_to genre.name, search_search_path('search[value]': genre.id, 'search[how]': "match") %></li>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="popular">
    <strong class="font-italic side">人気ランキング</strong>
    <ol class="list-group">
      <% all_ranks.each do |item| %>
      <li class="item"><%= link_to item.name, item_path(item) %></li>
      <% end %>
    </ol>
  </div>
</div>
